/* You can add global styles to this file, and also import other style files */

body {
    height: 400px;
    background-image: url('./assets/images/asset_66.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}